html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
}
header .info {
    height:30px;
    line-height: 30px;
    text-align: right;
    padding-right: 50px;
    font-size: 14px;
}
header h1 {
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 15px 0 5px 15px;
}
nav {
    background-color:rgb(0, 0, 0);
    padding: 10px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color:rgb(255, 255, 255);
    display: inline-block;
    width: 200px;
}
nav ul li a {
    color:rgb(255, 255, 255);
    text-decoration:none;
    padding:15px 0;
    display:block;
    transition: all 500ms;
}
nav ul li a:hover {
    color:rgb(133, 133, 133);
}
nav .searchbox {
    display: inline-block;
    padding-top: 11px;
}
nav .searchbox button {
    border:none;
    background:none;
    cursor: pointer;
    opacity: 0.7;
    transition: all 500ms;
}
nav .searchbox button:hover {
    opacity: 1;
}
footer {
    padding: 25px;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
main {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding: 30px 0;
}
.card {
    display: inline-block;
    width: 600px;
    height: 700px;
    text-align: center;
    padding: 7px;
    border-radius: 7px;
    transition: all 500ms;
}
.card a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    transition: all 500ms;
}
.card .image {
    height: 550px;
}
.card .image img {
    max-width: 450px;
    max-height: 450px;
}
.card:hover {
    box-shadow: 0 0 7px rgb(133, 133, 133);
}
/* .card .image:hover {
    height: 550px;
} */
.card .image img:hover {
    max-width: 500px;
    max-height: 500px;
}
.card a:hover {
    color:rgb(133, 133, 133);
}

